.genreContainer {
  width: 100%;
  min-width: 200px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: relative;
}

.genreContainer :hover {
  cursor: pointer;
}

.genreResult {
  /* width: 100%; */
  border: 1px solid var(--color);
  border-radius: 10px;
  color: var(--color);
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  transition: black 200ms ease;
}

.genreChoice {
  width: 100%;
  color: var(--color);
  border: 1px solid var(--color);
  border-radius: 10px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.genreChoice :hover {
  font-weight: bold;
  cursor: pointer;
}

.arrow {
  border: solid var(--color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 20px;
  top: 15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
