.container {
    height: 100%;
    /* background-color: black; */
}

.plotSummary {
    max-width: 1600px;
    border: 2px solid var(--border_color);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
  }

  .profile {
    display: flex ;
    align-items: center;
    flex-direction:row;
  }
  
  .logo {
    width: 30px;
    height: 30px;
    padding:5px;
    border: 2px solid var(--border_color);
    border-radius: 50px;
    margin-left: 40px;
    
}

.username {
    margin-left: 10px; 
    color: var(--color);
}

.detail_plot {
    margin-left: 80px;
    color: var(--color);
}

/* like button styles */

.like_button .heart_icon {
    height: 70px;
    width: 70px;
    background: url("../../assets/heart.png") no-repeat;
    background-position: left;
    background-size: 2900%;
    cursor: pointer;
    position: absolute;
    
  }
  
  .like_button .heart_icon.liked {
    animation: like-anim 0.7s steps(28) forwards;
  }
  
  @keyframes like-anim {
    to {
      background-position: right;
    }
  }
  
  .like_button .heart_bg {
    background: rgba(255, 192, 200, 0);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease;
  }
  
  .like_button .heart_bg:hover {
    background: rgba(255, 192, 200, 0.7);
  }
  
  .like_button {
    display: flex;
    align-items: center;
    /* margin-left: 60px; */
  }
  
  .like_button .likes_amount {
    font-size: 20px;
    color: #888;
    font-weight: 900;
    margin-left: 6px;
  }