.container {
  height: 100%;
  /* background-color: black; */
}

.plotSummary {
  max-width: 1600px;
  border: 2px solid var(--border_color);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  overflow-y: auto;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 2px solid var(--border_color);
  border-radius: 50px;
  margin-left: 40px;
}

.username {
  margin-left: 10px;
  color: var(--color);
}

.detail_plot {
  margin-left: 80px;
  color: var(--color);
}

/* like button styles */

.like_button .heart_icon {
  height: 70px;
  width: 70px;
  background: url("../../assets/heart.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  cursor: pointer;
  position: absolute;
}

.like_button .heart_icon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.like_button .heart_bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
}

.like_button .heart_bg:hover {
  background: rgba(255, 192, 200, 0.7);
}

.like_button {
  display: flex;
  align-items: center;
  /* margin-left: 60px; */
}

.like_button .likes_amount {
  font-size: 20px;
  color: #888;
  font-weight: 900;
  margin-left: 6px;
}

/* comment button styles */
.action_buttons {
  display: flex;
  align-items: center;
  margin-left: 10px; /* ปรับเพิ่ม margin-left เพื่อช่วยให้ comment button อยู่ห่างจาก like button */
  margin-right: 20px;
  justify-content: space-between;
}

.like_comment {
  display: flex;
  flex-direction: row;
}

.comment_button {
  display: flex;
  align-items: center;
}

.comment_icon_dark {
  display: flex;
  align-items: center;
  filter: invert(70%);
  -webkit-filter: invert(70%);
}

.comment_button .comment_icon {
  height: 25px;
  width: 25px;
  /* margin-top: 10px; */
  cursor: pointer;
  margin-left: 60px; /* เพิ่ม margin-left เพื่อให้ comment icon อยู่ห่างจาก like icon */
}

.comment_button .comment_icon_dark {
  height: 25px;
  width: 25px;
  /* margin-top: 10px; */
  cursor: pointer;
  margin-left: 60px; /* เพิ่ม margin-left เพื่อให้ comment icon อยู่ห่างจาก like icon */
}

.comment_button .comments_amount {
  font-size: 20px;
  color: #888;
  font-weight: 900;
  margin-left: 20px;
  margin-top: 0px;
}

.commentBox {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 60px;
  height: auto;
  width: 90%;
}

.commentInput {
  display: flex;
  width: 75%;
  background: transparent;
  color: black;
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  margin: 0px 0px 20px 20px;
  outline: none;
  flex-grow: 1;
  overflow-y: hidden;
  resize: none;
  height: auto;
}

.commentPost {
  /* display: flex; */
  padding: 13px 10px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 500;
  /* margin: 0px 20px 20px 0px; */
  margin-left: 20px;
  border: none;
  cursor: pointer;
}

.comment {
  width: 90%;
  max-height: 250px;
  overflow-y: scroll;
  margin-left: 80px;
  margin-top: 20px;
}

.commentWrapper {
  display: flex;
  align-items: center;
  border-top: 1px dashed black;
  width: 90%;
  margin: auto;
}

.postCommentText {
  display: flex;
  margin-left: 950px;
  cursor: pointer;
  font-size: 15px;
}

.commentInfo {
  display: flex;
  align-items: center;
  padding: 20px 0;
  max-width: 80%;
}

.commentContent {
  display: flex;
  align-items: center;
}

.commentUsername {
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

.logo1 {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 2px solid var(--border_color);
  border-radius: 50px;
  cursor: pointer;
  margin-right: 10px;
}

.commentText {
  margin-top: 3px;
}

.commentInText {
  margin-left: 45px; /* ปรับตามความเหมาะสม */
}

.bookmark {
  display: flex;
  left: 50px;
}

.bookmarkDark {
  filter: invert(70%);
  -webkit-filter: invert(70%);
}
