.buttonOutline {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--color);
    /* background-color: white; */
    color: var(--color);
}

.buttonOutline:active {
    opacity: 0.5;
}