
/* ---------------- Search Input ------------------ */

.searchBox {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 20px;
    border-radius: 50px;
    margin-right: 10px;
}

.searchBox input {
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
    max-width: 250px;   
    height: 30px;
}

/* ---------------- Plot Display ------------------ */
.plotSummary {
    max-width: 1600px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
  }

  .profile {
    display: flex ;
    align-items: center;
    flex-direction:row;
  }
  
  .logo {
    width: 30px;
    height: 30px;
    padding:5px;
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 40px;
    
}

.username {
    margin-left: 10px;  
}

.detail_plot {
    margin-left: 80px;
}

/* ---------------- heart button ------------------ */

.like_button .heart_icon {
    height: 100px;
    width: 100px;
    background: url("../../assets/heart.png");
    background-position: left;
    cursor: pointer;
    position: absolute;
    
  }
  
  .like_button .heart_icon.liked {
    animation: like-anim 0.7s steps(28) forwards;
  }
  
  @keyframes like-anim {
    to {
      background-position: right;
    }
  }
  
  .like_button .heart_bg {
    background: rgba(255, 192, 200, 0);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease;
  }
  
  .like_button .heart_bg:hover {
    background: rgba(255, 192, 200, 0.7);
  }
  
  .like_button {
    display: flex;
    align-items: center;
    margin-left: 60px;
  }
  
  .like_button .likes_amount {
    font-size: 20px;
    color: #888;
    font-weight: 900;
    margin-left: 6px;
  }

  /* .container {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    justify-content: end;
  } */

  .pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 250px;
  }

  .container {
    background-color: var(--background);
    /* height: 100vh; */
  }