body {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

textarea {
    resize: none; 
    border-radius: 20px;
    padding: 10px;
  }

.title_1 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1220px;
}

.describe1 {
    margin-right: 1030px;
}

.title_2 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1200px;
    margin-top: 20px;
}

.describe2 {
    margin-right: 890px;
}

.title_3 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1170px;
    margin-top: 20px;
}

.describe3 {
    margin-right: 1090px;
}

.title_4 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1190px;
    margin-top: 20px;
}

.describe4 {
    margin-right: 870px;
}

button[type="submit"] {
    background-color: black;
    border-radius: 40px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 11px 55px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
