.container_1 {
  display: flex;
}

.sidebar {
  background-color: black;
  height: 100vh;
  width: 250px;
}

.menu {
  display:block;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 25px;
  height: 80%;
}

.link {
  text-decoration: none;
  color: white;
}

.link_title {
  padding: 10px 40px;
  transition: all 0.3s;
}

.children {
  width: 100%;
}

.bottombar {
  margin-top: 500px;
  margin-left: 0;
}

.b_signout {
  margin-left: 45px;
  font-size: medium;
}