.container_1 {
  display: flex;
  height: 100vh;
  position: fixed;
}

.sidebar {
  background-color: black;
  border-right: 1px solid var(--border_color);
  /* height: 100vh; */
  width: 250px;
}

.menu {
  display:block;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 25px;
  height: 60%;
}

.link {
  text-decoration: none;
  color: white;
}

.link_title {
  padding: 10px 40px;
  transition: all 0.3s;
}

.children {
  flex-grow: 1;
  overflow-y: auto;
  /*width: 100%;*/
  /* overflow: scroll;
  height: 100vh; */
}

.bottombar {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: antiquewhite; */
  /* margin-left: 0; */
}

.b_signout {
  /* margin-left: 45px; */
  font-size: medium;
  color: white;
}