* {
  box-sizing: border-box;
}

.App {
  width: 100vm;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.navbar {
  width: 100vw;
  min-height: 12vh;
  background: #ffffff;
}


/*.text {
  margin-left: 60px;
  margin-bottom: 30px;
  font-family: noto;
}*/

/*.text-white {
  width: 17vw;
  height: 100vh;
  background-color:black;
}*/

.container  {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header {
  width: 100%;
}

.logo {
  width: 70px;
  margin-bottom: 30px;
  margin-left: 45px;
  margin-top: 10px;
}

.container_1 {
  display: flex;
}

main {
  width: 100%;
  margin-left: 270px;
}

.sidebar {
  background-color: black;
  height: 100vh;
  width: 250px;
}

.menu {
  display: flex;
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 25px;
  height: 80%;
}

.link {
  text-decoration: none;
  color: white;
}

.link_title {
  padding: 10px 40px;
  transition: all 0.3s;
}

.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}



