:root {
  --background: white;
  --color: #541C9C;
  --border_color: #541C9C;
  --link_color: navy;
  --hashtag_color: #283993;
}

[data-theme="dark"] {
  --background: black;
  --color: white;
  --border_color: #262626;
  --link_color: cyan;
  --hashtag_color: #91ccff;
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
